html * {
    font-family: Comic Sans MS !important;
}

body {
    margin:0px;
}

table {
    width: 100%;
    border-spacing: 0px;
    margin: 0px;
}

th, td {
    margin: 0px;
    text-align: center;
    padding: 8px 0px 8px 10px;
}

th {
    background-color: #7b8daa;
    color: #eee;
}

tr {
    transition: background-color 0.1s;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:not(.trNoHover):hover {
    background-color: #dbe8ff;
}

.productFilter {
    border-radius: 3px;
    border:solid 1px #dbe8ff;
}

.customButton {
    background-color: #eee;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
    font-size: 1em;
    transition: background-color 0.5s;
    font-weight: bold;
    transition: width 0.5s, margin 0.5s;
    margin: 15px 0px;
}

.customButton:hover {
    background-color: #dbe8ff;
}

#goToAddProduct {
    width: 100%;
    font-size: 2em;
    border-style: inset;
}

#addForm {
    text-align: center;
}

#addForm label {
    font-weight: bold;
}
